
build/*
!build/one.mac
!build/img.py
!build/energy.mac
!build/vis.mac
!build/run_thickness.sh
!build/fwhm.py
!build/oimg.py
!build/build_xray_image.py
!build/generate_mac.py
!build/oimg.py
!build/run_batch_thickness.sh
!build/snr_analysis.py
.vscode
