
# CMake
build/*
!build/one.mac
!build/img.py
!build/energy.mac
!build/vis.mac
!build/run_thickness.sh
!build/fwhm.py
!build/oimg.py
!build/build_xray_image.py
!build/generate_mac.py
!build/oimg.py
!build/run_batch_thickness.sh
!build/snr_analysis.py
!build/build_xray_scintillation.py
!build/build_xray_direct.py
!build/snr_direct.py

# CMake файлы
CMakeLists.txt
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt

.vscode
